/**********************************
GENERAL
***********************************/

* {
    box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
}

a {
	text-decoration: none;
}

header {
	float: left; /*for styling desktop layout*/
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%; /*because floated, we must specify a width*/
}

/* site body */
body {
	background-color: #fff;
	color: #999;
	margin: 0;
}

header {
	background: linear-gradient(to bottom, #EA6D41 0%, #ED8156 100%);
	text-align: center;
	min-height: 10px;
}

/* nav link */
nav a, nav a:visited {
	color: #993413;
}

/* selected nav link */
nav a.selected, nav a:hover {
	color: #fff;
}

.footer {
	display: inline-block;
	width: 100%;
	border-top: 1px solid #c3c2bd;
	color: #a4a4a4;
	font-size: 0.9rem;
	line-height: 1.2rem;
	margin-top: 35px;
	padding: 10px 0;
	text-align: center;
}

.footer p {
	margin: 0;
	padding: 0;
}


/**********************************
NAVIGATION
***********************************/

nav {
	text-align: center;
	padding: 10px 0;
	margin: 15px 0 0;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 1.6rem;
}

nav li {
	display: inline-block;
}

nav a {
	font-weight: 800;
	padding: 10px 10px;

}

/**********************************
index.html : COLUMNS
***********************************/

.preview-wrapper {
	width: 98%;
	margin: 0 auto;
	margin-top: 10px;
	min-height: 10px;
	text-align: center;

}

.col {	
	display: inline-block;
	padding: 5px;
	border: 1px solid #d9e4ea;
	margin-bottom: 5px;
}

.emba {
	display: inline-block;
}

.emb-prev {
	display: inline-block;
	width: 100%;
	min-height: 10px;
	position: relative;
}

iframe, 
.preview-wrapper img {
	width: 320px;
	height: 199px;
}


.play-btn {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: 50% 64% url('../img/embed_play_button.png') no-repeat / 18%;
}


/**********************************
OTHER
***********************************/

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}