@media screen and (min-width: 520px) {

	header {
		display: inline-block;
		text-align: left;
		vertical-align: bottom;
	}

	#logo {
		margin-right: 5px;
		display: inline-block;
		float: left;
		padding: 10px 10px;
	}

	nav {
		float: right;
		margin: 0 auto;
	}

	nav a {
		padding: 5px;
	}

	nav li {
		padding-top: 21px;
	}

	iframe,
	.preview-wrapper img,
	.col img {
		width: 480px;
		height: 298px;
	}


@media screen and (min-width: 680px) {

	#logo {
		margin-left: 30px;
	}

	nav {
		margin-right: 30px;
	}

	iframe,
	.emb-prev img,
	.col img {
		width: 640px;
		height: 398px;
	}

@media screen and (min-width: 1080px) {
	
	.preview-wrapper {
		width: 95%;
		max-width: 1000px;
	}

	iframe,
	.preview-wrapper img,
	.col img {
		width: 480px;
		height: 298px;
	}

	/**********************************
	COLUMNS
	***********************************/

	.col {
		float: left;
		width: 49%;
		margin-bottom: 10px;
	}

	.col:nth-child(2n+1) {
		margin-right: 2%;
	}
}